# 独立升级控制台配置模板，保存为 /opt/ireader-upgrade/conf/console.env。
# 密码、GitHub Token 与内部令牌只在服务器填写，不提交仓库。
UPGRADE_APP_DIR='/opt/ireader'
UPGRADE_DATA_DIR='/opt/ireader/data'
UPGRADE_STATE_DIR='/opt/ireader-upgrade/state'
UPGRADE_CONSOLE_PORT='28081'
UPGRADE_MAIN_PORT='28080'
UPGRADE_PUBLIC_ORIGIN='https://upgrade.example.com'
UPGRADE_ADMIN_USER='upgrade-admin'
UPGRADE_ADMIN_PASSWORD=''
UPGRADE_INTERNAL_TOKEN=''
UPGRADE_GITHUB_OWNER='yuxuefenfei'
UPGRADE_GITHUB_REPO='interview-reader-blueprint'
UPGRADE_GITHUB_TOKEN=''
UPGRADE_DB_NAME=''
UPGRADE_DB_DEFAULTS_FILE='/opt/ireader-upgrade/conf/mysql.cnf'
UPGRADE_MYSQL_BIN='/usr/bin/mysql'
UPGRADE_MYSQLDUMP_BIN='/usr/bin/mysqldump'
